:root {
    --body-color: #fff;
    --placeholder-color: #c0c0c0; 
    --sidebar-color: #F3F3F0;
    --primary-color: #695CFE ; /* Purple */

    --danger-color: red;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --border-input-text-color: #bbbbbb;
    --background-input-text-color: white;

    --text-hover-color: white;
    --sub-menu-container: #F5F5F1; 
    --success-color: #2cb72c; 

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark {
    --placeholder-color: #8e8e8e; 
    --body-color: #212121;
    --sidebar-color: #171717;
    
    --primary-color: #FF7F11; /* Naranja Vibrante - Un naranja fuerte y llamativo. */
    --primary-color: #FF9F45; /* Naranja Suave - Un tono mÃ¡s cÃ¡lido y menos agresivo. */
    --primary-color: #D97904; /* Naranja Dorado - Un naranja mÃ¡s elegante y cercano al dorado. */
    --primary-color: #C75C1C; /* Naranja Quemado - Un tono mÃ¡s oscuro y sofisticado. */
    --primary-color: #2ECC71; /* Verde Esmeralda */
    --primary-color: #695CFE; /* Purple */

    --danger-color: red;
    --secondary-color: orange;
    --primary-color-light: #3a3b3c;
    --toggle-color: #696969;
    --text-color: #ccc;
    --border-input-text-color: #686868;
    --background-input-text-color: #3e3e3e;
    --sub-menu-container: #303030; 
}