.toggle-switch-language {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 70px;
    width: 40px;
    height: 22px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    transition: all 0.3s;
    z-index: 1000;
}

.toggle-switch-language .switch-language {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

.switch-language::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: all 0.3s;
}

/* Cuando el toggle está activado */
.switch-language.active::before {
    left: 20px;
}